rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow read, write: if signedIn();
    }

    match /workspaces/{workspaceId} {
      allow read, write: if signedIn() && request.auth.uid == workspaceId;

      match /members/{memberId} {
        allow read, write: if signedIn() && request.auth.uid == workspaceId;
      }

      match /containers/{containerId} {
        allow read, write: if signedIn() && request.auth.uid == workspaceId;
      }

      match /items/{itemId} {
        allow read, write: if signedIn() && request.auth.uid == workspaceId;
      }
    }
  }
}